/url/cache
/.emacs.desktop
/auto-save-list
/.session
/custom.el
*.elc
CVS
.svn
*~
*.log
.yas-compiled-snippets.el
.bookmarks.el
.cvsignore
.*.lock
/tramp
/TODO
/anything-c-adaptive-history
/.org-id-locations
cookies
/newsticker
/ac-comphist.dat
\#*
/elpa
site-lisp/package/
/swank
