\#*
/.achievements
/ac-comphist.dat
/anything-c-adaptive-history
/auto-save-list
/.bookmarks.el
CVS
.cvsignore
cookies
/custom.el
*.elc
/elpa
/.emacs.desktop
/emms/
/eshell
/frame-restore-parameters
/helm-adaptive-history
/history
/.ido-config
/image-dired/
.*.lock
/.mc-lists.el
/newsticker
/.org-id-locations
/.session
site-lisp/package/
/.smex-items
/.sqli_history
.svn
/swank
/thumbs/
/TODO
/tramp
/var
/url/cache
*~