[submodule "site-lisp/org-roam-ui"]
	path = site-lisp/org-roam-ui
	url = git@github.com:org-roam/org-roam-ui.git
[submodule "site-lisp/elgantt"]
	path = site-lisp/elgantt
	url = https://github.com/legalnonsense/elgantt.git
