# -*- mode: snippet -*-
# name: <script src="jquery.validate.js">...</script>
# key: script
# contributor: Chen Bin <chenbin DOT sh AT gmail>
# --
<script type="text/javascript" src="${1://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.9.0/jquery.validate.js}"></script>
