# -*- coding: utf-8; mode: snippet -*-
# name: main program for nodejs
# key: main
# contributor: Chen Bin <chenbin DOT sh AT gmail>
# --
#!/usr/bin/env node
// @see http://shapeshed.com/command-line-utilities-with-nodejs/
var args=process.argv.slice(2);
console.log(args);
console.log('hello world');
process.exit(0);
